@font-face{
    font-family: "Gilroy-Light";
    src: url("../../../assets/fonts/Gilroy-Light.otf");
}

* {
    text-decoration: none !important;
}

#data-profile{
  min-height: 400px;
  text-align: left;
}

.profile-info{
    font-family: "Gilroy-Light";
    display:flex;
    margin-left: 15px;
    min-width: 543px;
}


#data-profile .avatar {
    min-width: 185px;
    min-height: 185px;
    width: 185px;
    height: 185px;
    border-radius: 400px;
    overflow: hidden;
    margin-right: 15px;
}

#data-profile .avatar img{
  width: 100%;
}

#data-profile .user-name{
  margin-top: 25px;
}

#data-profile .user-name .label{
  margin-bottom: 15px;
}

#data-profile .user-name .name{
  font-size: 24px;
  font-weight: bold;
  color: #555;
}

#data-profile .user-name .nick{
  font-size: 22px;
  font-weight: normal;
  color: gray;
}

#data-profile .stats {
    border-left: 2px solid #ccc;
    margin-left: 20px;
    padding-left: 27px;
    padding-top: 20px;
    height: 182px;
    text-decoration: none !important;
}

#data-profile .stats a {
    font-size: 22px;
    line-height: 44px;
    color: #555;
}

#data-profile .publications{
  margin-top: 40px;
}

.number-stats{
    font-size: 22px;
}

.label-stats{
    font-size: 20px;
}


.loading img{
  margin:25px;
  width: 100px;
}
