<div class="col-lg-8 col-lg-offset-2 home">
    
    <div class="jumbotron">
        <!--<h1>{{title}}</h1>
        <p>Enjoy this Angular social network with your family and friends</p>
        <p>
            <a href="#" class="btn btn-success btn-lg" role="button">
                My Account
            </a>
            <a href="#" class="btn btn-primary btn-lg" role="button">
                Timeline
            </a>
            <a href="#" class="btn btn-default btn-lg" role="button">
                People
            </a>
        </p>-->
        
    <h1>{{title}}</h1>  
    <img class="home-img" src="../../../assets/images/earth.png" />  
    <h3>The ultimate Social Network</h3>
        
        
    </div>


</div>