<div class="register">
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <h1 class="h1-strong">{{title}}</h1>

        <div class="alert alert-success" *ngIf="status == 'success'">
            Register Successfull, <a [routerLink]="['/login']">Login</a>
        </div>

        <div class="alert alert-danger" *ngIf="status == 'error'">
            Fail to Register, try again with a different nickname.
        </div>
        <p>
            <label>Name *</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
            <span *ngIf="!name.valid && name.touched">
                <i>User Name Required</i>
            </span>
        </p>

        <p>
            <label>Surname *</label>
            <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required />
            <span *ngIf="!surname.valid && surname.touched">
                <i>User Surname Required</i>
            </span>
        </p>

        <p>
            <label>Nickname *</label>
            <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required />
            <span *ngIf="!nick.valid && nick.touched">
                <i>User Nickname Required</i>
            </span>
        </p>

        <p>
            <label>Email *</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
            <span *ngIf="!email.valid && email.touched">
                <i>User Email Required</i>
            </span>
        </p>

        <p>
            <label>Password *</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
            <span *ngIf="!password.valid && password.touched">
               <i>User Password Required</i>
            </span>
        </p>

        <div class="register-button">
          <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!registerForm.form.valid" />
        </div>

    </form>


</div>
