<div id="start-chat" class="col-lg-5">
    <button id="boton_chat" class="btn start-chat" (click)="connection()">
        Start Chatting
        <img class="chat-icon" src="assets/images/chat.png" />
    </button>
</div>


<div id="chat" class="col-lg-5">
        <div class="chat-header">
           <div class="users">
               <img class="user-icon" src="assets/user-icon.jpg">
               <span id="active_users"></span>
           </div>
            <h1 id="title">{{title}}</h1>
            <div class="disconnect">
                <a (click)="disconnection()">
                    <img class="switch-off" src="assets/images/switch-off.png" />
                </a>
            </div>
       </div>


        <div id="messages"></div>
        <form id="messageForm" #messageForm="ngForm" (ngSubmit)="onSubmit(messageForm)">
            <div class="envio">
                <textarea id="text" class="text" name="text" #text="ngModel" [(ngModel)]="messageText"
                       (keydown.enter)="onSubmit(messageForm)" required></textarea>
                <input id="send" class="btn btn-success" type="submit" value="Send"/>
            </div>
        </form>


</div>
