<div class="col-lg-8">
    <div class="people">

        <div *ngFor="let user of users" class="item-user">
            <div class="panel panel-default">
              <div class="panel-body">
                  <div class="image-user pull-left">
                    <a [routerLink]="['/profile/', user._id]">
                      <img src="{{ url + 'get-image-user/' + user.image}}" *ngIf="user.image" />
                      <img src="assets/user-icon.jpg" class="avatar-default" *ngIf="!user.image" />
                    </a>
                  </div>

                  <div class="user-name pull-left">
                    <p class="name-surname">
                        <a [routerLink]="['/profile/', user._id]">
                            {{user.name + ' ' + user.surname}}
                        </a>
                    </p>
                    <p class="nickname">{{user.nick}}</p>
                  </div>

                  <!--FOLLOWING SECTION-->

                  <div class="pull-right" *ngIf="user._id != identity._id">
                    <button class="btn btn-success" *ngIf="follows.indexOf(user._id) < 0"
                            (click)="followUser(user._id)">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Follow
                    </button>

                    <button class="btn btn-primary" *ngIf="follows.indexOf(user._id) >= 0"
                        (mouseenter)="mouseEnter(user._id)"
                        (mouseleave)="mouseLeave(user._id)"
                        (click)="unfollowUser(user._id)"
                        [class.btn-danger]="user._id == followUserOver">

                         <span *ngIf="user._id == followUserOver; else following">
                            <span class="glyphicon glyphicon-minus-sign" ></span>
                            Unfollow
                        </span>

                        <ng-template #following>
                            <span class="glyphicon glyphicon-ok-sign"></span>
                            Following
                        </ng-template>

                    </button>
                  </div>
              </div>

            </div>
        </div>

        <!--PAGINATION-->
        <ul class="pagination pull-right" *ngIf="pages > 1">
            <li *ngIf="page > 1"><a class="previous" [routerLink]="['/people', prev_page]">Previous</a></li>
            <li *ngIf="pages != page"><a class="next" [routerLink]="['/people', next_page]">Next</a></li>
        </ul>
    </div>
</div>

<sidebar></sidebar>
<div class="clearfix"></div>
