@font-face{
    font-family: "Gilroy-Light";
    src: url("../../../assets/fonts/Gilroy-Light.otf");
}

*{
   font-family: "Gilroy-Light";
    text-decoration: none !important;
}

#user-card{
    margin-left:15px;
    min-width: 325px;
    padding: 25px;

}

#new-publication {
  margin-right:15px;
  min-width: 345px;
  padding: 18px;
}

#user-card, #new-publication {
    border-radius: 20px;
    box-shadow: 5px 10px 18px #888888;
    margin-left:15px;
    width: 30%;
}

#user-card .avatar{
  width: 75px;
  height: 75px;
  border-radius: 100px;
  overflow: hidden;
  margin-right: 15px;
  transition: all .2s ease-in-out;
}
#user-card .avatar:hover{
  transform: scale(1.1);
}
#user-card .avatar img{
  width: 100% !important;
}
#user-card .avatar img:hover{
  width: 100% !important;
}

#user-card .name-surname {
    font-size: 20px;
    margin: 10px;
    font-weight: 300;
}

#user-card .name-surname a{
  color: #555;
}

#user-card .name-surname .nickname{
  color: #969393;
}

#user-card .stats{
  border-top: 1px solid #eee;
  margin-top: 10px;
}

#user-card .label-stats,
#user-card .number-stats{
    display: block;
    text-align: center;
    transition: all 300ms;
}


#user-card .label-stats{
  font-weight: bold;
  color: #555;
}


#user-card .following-data {
    padding: 5px;
    border-radius: 10px;
    width: 31%;
    background-color: #f7f7f7;
    box-sizing: border-box;
    margin-left: 6px;
    margin-bottom: -10px;
    float: left;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 10px;
    border-right: 2px solid #eee;
    transition: 0.2s;
    text-decoration: none !important;
}

#user-card .following-data:hover {
    background-color: #e4e2e2;
}

#user-card .number-stats {
    font-weight: bold;
    color: black !important;
}

#user-card .number-stats:hover {
    color: black !important;
}


#user-card .following-data:first-child{
  padding-left: 6px;
}

#user-card .following-data:last-child{
  border: none;
}

textarea.form-control {
    min-width: 100%;
}


.inputfile{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    display: inline-block;
    cursor: pointer;
    background-color: #ededed;
    width: 40%;
    text-align: center;
    margin-top: 9px;
    border-radius: 16px;
    transition: 0.1s;

}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #7b7979;
    color: white;
}


.upload-image{
   width: 46%;
   height: 26%;
   border-radius: 15px;
}

label.publication-text{
    font-size: 18px;
}

.publication-form{
    width: 100%;
}
