<div class="forgot-password">
   <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit()">
      <h1 class="h1-strong">{{title}}</h1>
      <p>Please enter your email address, and you will receive the steps to change your password.</p>
      <p>
          <label>Email *</label>
          <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" autocomplete="email" [disabled]="loading"/>
          <span *ngIf="!email.valid && email.touched">
              <i>The email is incorrect</i>
          </span>
      </p>
      <input type="submit" value="Send" class="btn btn-success enter-button" [disabled]="!forgotPasswordForm.form.valid" [disabled]="loading"/>
      <div class="loading" *ngIf="loading">
          <img src="../../../assets/images/lg.dual-ring-loader.gif" />
      </div>
  </form>
</div>
