@font-face{
  font-family: "Gilroy-ExtraBold";
  src: url("../../../assets/fonts/Gilroy-ExtraBold.otf");
}

@font-face{
  font-family: "Gilroy-Light";
  src: url("../../../assets/fonts/Gilroy-Light.otf");
}


.h1-strong{
  text-align: center;
  font-family: "Gilroy-ExtraBold";
  margin-bottom: 15px;
}

.forgot-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot-password form {
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
    margin: 20px 400px;
    padding: 30px 40px;
}

.forgot-password p {
  margin-bottom: 20px;
}

.forgot-password label {
  font-family: "Gilroy-Light";
  font-size: 16px;
}

.forgot-password input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid #ccddef;
}


.forgot-password a {
  font-family: "Gilroy-Light";
  text-decoration: none;
  font-size: 12px;
  float: center;
}

.forgot-password span{
    font-family: "Gilroy-Light";
}

.btn-success{
  display: block;
  width: 80%!important;
  float: left;
  border: none;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 7px;
}

.loading {
  width: 20%!important;
  float: right;
}

.loading img {
  width: 50px;
  margin: 0px;
  margin-left: 5px;
}

form {
  overflow: hidden;
  animation: fade 250ms;
}

form p {
  animation: move 500ms;
}

form .enter-button {
  animation: move 400ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateX(-35%);
  } to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  } to {
    opacity: 1;
    transform: scale(1);
  }
}

