<div class="user-edit">
      <form #userEditForm="ngForm" (ngSubmit)="onSubmit()">

        <h1 class="h1-strong">{{title}}</h1>

        <div class="alert alert-success" *ngIf="status == 'success'">
          Account details updated successfully.
        </div>

        <div class="alert alert-danger" *ngIf="status == 'error'">
            Error updating account details.
        </div>

        <div class="col-md-6 form-group">
            <p>
                <label>Name</label>
                <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required class="form-control"/>
                <span *ngIf="!name.value && name.touched">
                    User name is required
                </span>
            </p>
            <p>
                <label>Surname</label>
                <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required class="form-control"/>
                <span *ngIf="!surname.value && surname.touched">
                    User surname is required
                </span>
            </p>
            <p>
                <label>Nickname</label>
                <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" required class="form-control"/>
                <span *ngIf="!nick.value && nick.touched">
                    User nickname is required
                </span>
            </p>
        </div>
        <div class="col-md-6 form-group">
            <p>
                <label>Email</label>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                <span *ngIf="!email.value && email.touched">
                    User email is required
                </span>
            </p>
            <p>
                <input type="file" name="file" id="file" class="inputfile" (change)="fileChangeEvent($event)"/>
                <label for="file">Select an image</label>
            </p>
            <div *ngIf="user.image">
                <img src="{{url + 'get-image-user/' + user.image }}" class="upload-image" width="100" height="100"/>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <input type="submit" value="Update" class="btn btn-warning" [disabled]="!userEditForm.form.valid" />
        </div>

        <!--<input type="submit" value="Update" class="btn btn-warning" [disabled]="!userEditForm.form.valid" />-->


    </form>

</div>
